
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}

</head>
<body>
    <!-- <div class="min-h-screen flex flex-row bg-gray-100"></div> -->

        {% include 'header.html' %}
        <!-- sidebar -->

        {% include 'sidebar.html' %}
        
        <!-- /#sidebar -->
    <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-600 border-dashed rounded-lg dark:border-gray-700 mt-14">
            <div class="flex items-center justify-center rounded bg-gray-500 dark:bg-gray-800">
                
                        <h2 class="text-1xl font-bold dark:text-white"> {{ headings }} </h2>

           
                
            </div>
            <div class="flex justify-center"></div>
            
            <div class="relative  shadow-2xl md:rounded-lg px-6"> 
            
                {% block content %}
                {% endblock %}
                <br>

            </div>
        </div>
  
    </div>
     <!-- Bootstrap core JavaScript -->
     {% include 'filejs.html' %}
     
</body>
</html>