<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <div id="main-wrapper">
        <!-- sidebar -->

        {% include 'sidebar.html' %}
    
        <!-- /#sidebar -->
        
        <!-- navbar -->
            {% include 'header.html' %}
        <!-- endnavbar -->
        
        <div id="main-content" class="container">
            <br>
            <center>
                <h3>{{ title }}</h3>
            </center>
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
     <!-- Bootstrap core JavaScript -->
     {% include 'filejs.html' %}
     
</body>
</html>