<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

      <ul class="navbar-nav  d-flex align-items-center ">
        
        <li class="nav-item active mobile-view">
          <a class="nav-link d-flex align-items-center" href="#menu-toggle"  id="menu-toggle">
            <i class="material-icons">menu</i>Menu
          </a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex center">
        <a class="nav-link d-flex center" href="#menu-toggle"  id="menu-toggle">{{ title }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link d-flex align-items-center" href="#">Settings</a>
        <a class="nav-link d-flex align-items-center" href="#">Logout</a>
      </ul>
      </div>  
    
 </nav> -->

<header class="text-gray-100 bg-gray-900 body-font shadow w-full">
  <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
      <nav class=" lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
          <a
              class="mr-5 hover:text-gray-500 cursor-pointer border-b border-transparent hover:border-indigo-100">Menu</a>
          <!-- <a
              class="mr-5 hover:text-gray-900 cursor-pointer border-b border-transparent hover:border-indigo-600">Products</a>
          <a class="mr-5 hover:text-gray-900 cursor-pointer border-b border-transparent hover:border-indigo-600">Investor
              Relations</a>
          <a
              class="hover:text-gray-900 cursor-pointer border-b border-transparent hover:border-indigo-600">Contact</a> -->
      </nav>
      <a
          class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center lg:items-center lg:justify-center mb-4 md:mb-0">
          <h6>CAHAYA LOGISTIK</h6>
      </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
          <!-- <a href="https://www.buymeacoffee.com/pazlydev" class="bg-indigo-700 hover:bg-indigo-500 text-white ml-4 py-2 px-3 rounded-lg">
              Donate
          </a> -->
      </div>
  </div>
</header>