<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Logistik</a>
        <!-- sidebar collapse button ## mobile view -->
      <ul class="navbar-nav  d-flex align-items-center ">
        <li class="nav-item active mobile-view">
          <a class="nav-link d-flex align-items-center" href="#menu-toggle"  id="menu-toggle">
              <i class="material-icons">menu</i>
              <!-- <span class="sr-only">(current)</span></a> -->
        </li>
        </ul>
        <!-- end sidebar collapse button ## mobile view -->
    </div>
</nav>