<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

      <ul class="navbar-nav  d-flex align-items-center ">
        
        <li class="nav-item active mobile-view">
          <a class="nav-link d-flex align-items-center" href="#menu-toggle"  id="menu-toggle">
            <i class="material-icons">menu</i>Menu
          </a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex center">
        <a class="nav-link d-flex center" href="#menu-toggle"  id="menu-toggle">{{ title }}</a>
      </ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link d-flex align-items-center" href="#">Settings</a>
        <a class="nav-link d-flex align-items-center" href="#">Logout</a>
      </ul>
      </div>

      
      
      
        <!-- end sidebar collapse button ## mobile view -->
</nav>