<div id="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="d-flex align-items-center" >
                Cahaya
            </a>
        </li>
        <li>
            <a href="#">CS Input</a>
        </li>
        <li>
            <a href="#">Cek Resi</a>
        </li>
        <li>
            <a href="#">Cek Resi</a>
        </li>
        <li>
            <a href="#">Cek Tarif</a>
        </li>
        <li>
            <a href="#">Reprint</a>
        </li>
        <li>
            <a href="#">Laporan Harian</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>

