<div id="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="d-flex align-items-center" >
                Cahaya Nusantara
            </a>
        </li>
        <li>
            <a href="/cs">CS Input</a>
        </li>
        <li>
            <a href="/karyawan">Karyawan</a>
        </li>
        <li>
            <a href="/cabang">Cabang</a>
        </li>
        <li>
            <a href="#">Cek Resi</a>
        </li>
        <li>
            <a href="/laporan_harian">Laporan Harian</a>
        </li>
        <li>
            <a href="/keuangan">Keauangan</a>
        </li>
    </ul>
</div>

