{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <th>No</th>
        <th>ID Cabang</th>
        <th>Nama Cabang</th>
        <th>Alamat Cabang</th>
        <th>Alamat Singkat</th>
        <th>No HP</th>

    </thead>
{% for cabang in cabangs %}
    
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ cabang.id_branch }}</td>
            <td>{{ cabang.nama_branch }}</td>
            <td>{{ cabang.alamat_branch }}</td>
            <td>{{ cabang.alamat_singkat_branch }}</td>
            <td>{{ cabang.no_telp_branch }}</td>
        </tr>
  
{% endfor %}

</table>
{% endblock %}