{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <th>No</th>
        <th>ID Cabang</th>
        <th>Nama Cabang</th>
        <th>Alamat Cabang</th>
        <th>Alamat Singkat</th>
        <th>No HP</th>
        <!-- <th>slug</th> -->

    </thead>
{% for cabang in cabangs %}
    
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="/">
                    {{ cabang.id_branch }}
                </a>
            </td>
            <td>
                <a href="/cabang/detail/{{ cabang.slug_branch }}">
                {{ cabang.nama_branch }}
                </a>
            </td>
            <td>{{ cabang.alamat_branch }}</td>
            <td>{{ cabang.kota }}</td>
            <td>{{ cabang.no_telp_branch }}</td>
            <!-- <td>{{ cabang.slug_branch }}</td> -->
        </tr>
  
{% endfor %}

</table>
{% endblock %}