{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <th>No</th>
        <th>ID Karyawan</th>
        <th>Nama</th>
        <th>Jabatan</th>
        <th>Cabang</th>
        <th>Agen</th>
        <th>Salary</th>
        <th>No HP</th>
    </thead>
{% for karyawan in karyawans %}
    
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ karyawan.id_karyawan }}</td>
            <td>{{ karyawan.nama_karyawan }}</td>
            <td>{{ karyawan.jabatan }}</td>
            <td>{{ karyawan.branch_id }}</td>
            <td>{{ karyawan.agen_id }}</td>
            <td>{{ karyawan.salary }}</td>
            <td>{{ karyawan.no_hp_karyawan }}</td>
        </tr>
  
{% endfor %}

</table>
{% endblock %}