{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">

        <th>ID Cabang</th>
        <th>Nama Cabang</th>
        <th>Alamat Cabang</th>
        <th>Kota/ Kab.</th>
        <th>No HP</th>

    </thead>
    
        <tr>
            <td>       
                {{ Cabangs.id_branch }} 
            </td>
            <td>
                
                {{ Cabangs.nama_branch }}
               
            </td>
            <td>{{ Cabangs.alamat_branch }}</td>
            <td>{{ Cabangs.kota }}</td>
            <td>{{ Cabangs.no_telp_branch }}</td>
        </tr>
  

</table>
{% endblock %}