{% extends 'base.html' %}

{% block content %}
<br>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <th>ID Karyawan</th>
        <th>Nama</th>
        <th>Jabatan</th>
        <th>Cabang</th>
        <th>Agen</th>
        <th>Salary</th>
        <th>No HP</th>
    </thead>
    
        <tr>
            <td>{{ Karyawans.id_karyawan }}</td>
            <td>{{ Karyawans.nama_karyawan }}</td>
            <td>{{ Karyawans.jabatan }}</td>
            <td>{{ Karyawans.branch_id }}</td>
            <td>{{ Karyawans.agen_id }}</td>
            <td>{{ Karyawans.salary }}</td>
            <td>{{ Karyawans.no_hp_karyawan }}</td>
        </tr>
  

</table>
{% endblock %}